nav{
    background-color: #333;
    overflow: hidden;
}
nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.buttons a{
    text-decoration: none;
    color: black;
}
.leaderboard-preview a{
    text-decoration: none;
    color: black;
}