*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#display{
    width: 800px; 
    max-height: 500px; 
    min-height: 400px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #ececec;
    border: 2px solid #999;
    overflow-y: auto;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    height: auto;
}

#data {
    text-align: left;
    width: 100%;
    max-width: 90%;
    word-wrap: break-word;
}
.hero-image {
    width: 180px;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
}
.hero-name {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    max-width: 90%;
    white-space: normal;
    word-break: break-word;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    line-height: 1.4;
}
header{
    color: white;
    padding: 35px;
    border: 2px solid #ececec;
}

#text{
    width: 100%; 
    padding: 12px 20px;
    border: 2px solid #999;
    border-radius: 4px;
    font-size: 20px;
    background-color: #ececec;
}
#submit{
    position: absolute;
    margin-left: 10px;;
    width: 200px;
    height: 50px;
    background-color: #57a0d2;
    color: white;
    padding: 12px 15px;
    border: 1px solid #0476F2;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;

}
#submit:hover{
    background-color:#67acdb;
    

}
#apiForm{
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 40%;
    gap: 10px;
    margin-bottom: 20px;
    
}
#superhero{
    width: 100%;
    max-width: 100%;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #0476F2;
}
